services:
  selectzyme-proxy:
    image: nginx:alpine
    # Port forwarding disabled for production runs (profiles or docker-compose.override.yml can be used alternatively)
    #ports:
    #  - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/index.html:/usr/share/nginx/html/selectzyme/index.html
      - ./nginx/bootstrap.min.css:/usr/share/nginx/html/selectzyme/bootstrap.min.css      
      - ./assets/:/usr/share/nginx/html/selectzyme/assets/      
    depends_on:
      - selectzyme-demo
      - selectzyme-petase
      - selectzyme-ired
      - selectzyme-lpor
      - selectzyme-lov
      - selectzyme-fmos
    networks:
      - selectzyme-network
      
  selectzyme-demo:
    image: ghcr.io/ipb-halle/selectzyme-app:0.4.0
    environment:
      - DASH_URL_BASE_PATHNAME=/selectzyme/demo/
      - SELECTZYME_DATASET=demo
    networks:
      - selectzyme-network

  selectzyme-petase:
    image: ghcr.io/ipb-halle/selectzyme-app:0.4.0
    environment:
      - DASH_URL_BASE_PATHNAME=/selectzyme/petase/
      - SELECTZYME_DATASET=petase
    networks:
      - selectzyme-network

  selectzyme-ired:
    image: ghcr.io/ipb-halle/selectzyme-app:0.4.0
    environment:
      - DASH_URL_BASE_PATHNAME=/selectzyme/ired/
      - SELECTZYME_DATASET=ired
    networks:
      - selectzyme-network

  selectzyme-lpor:
    image: ghcr.io/ipb-halle/selectzyme-app:0.4.0
    environment:
      - DASH_URL_BASE_PATHNAME=/selectzyme/lpor/
      - SELECTZYME_DATASET=lpor
    networks:
      - selectzyme-network      

  selectzyme-lov:
    image: ghcr.io/ipb-halle/selectzyme-app:0.4.0
    environment:
      - DASH_URL_BASE_PATHNAME=/selectzyme/lov/
      - SELECTZYME_DATASET=lov
    networks:
      - selectzyme-network

  selectzyme-fmos:
    image: ghcr.io/ipb-halle/selectzyme-app:0.4.0
    environment:
      - DASH_URL_BASE_PATHNAME=/selectzyme/fmos/
      - SELECTZYME_DATASET=fmos
    networks:
      - selectzyme-network

networks:
  selectzyme-network:
    driver: bridge
