services:
  selectzyme_blast_psi:
    build: .
    ports:
      - "8051:8050"
    command: --input_dir=/app/data
    environment:
      - DASH_URL_BASE_PATHNAME=/selectzyme-demo/blast-psi/  # 127.0.0.1:PORT/DASH_URL_BASE_PATHNAME
    volumes:
      - ./data/blast_psi:/app/data

  selectzyme_petase:
    build: .
    ports:
      - "8052:8050"
    command: --input_dir=/app/data/
    environment:
      - DASH_URL_BASE_PATHNAME=/selectzyme-demo/petase/
    volumes:
      - ./data/petase:/app/data/