services:
  selectzyme-proxy:
    image: nginx:alpine
    # Port forwarding disabled for production runs (profiles or docker-compose.override.yml can be used alternatively)
    #ports:
    #  - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/index.html:/usr/share/nginx/html/selectzyme/index.html
      - ./nginx/bootstrap.min.css:/usr/share/nginx/html/selectzyme/bootstrap.min.css      
      - ./assets/:/usr/share/nginx/html/selectzyme/assets/      
    depends_on:
      - selectzyme-blast-psi
      - selectzyme-petase
    networks:
      - selectzyme-network
      
  selectzyme-blast-psi:
    image: ipb-halle/selectzyme-app:development
    command: --input_dir=/app/data_container/
    environment:
      - DASH_URL_BASE_PATHNAME=/selectzyme/blast-psi/
    volumes:
      - ./data/blast_psi/:/app/data_container/
    networks:
      - selectzyme-network

  selectzyme-petase:
    image: ipb-halle/selectzyme-app:development
    command: --input_dir=/app/data_container/
    environment:
      - DASH_URL_BASE_PATHNAME=/selectzyme/petase/
    volumes:
      - ./data/petase/:/app/data_container/
    networks:
      - selectzyme-network

networks:
  selectzyme-network:
    driver: bridge
