name: Build and publish Docker image

on:
  workflow_dispatch

env:
  REGISTRY: ghcr.io
  SELECTZYME_VERSION: 0.0.4
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
    - name: Check out repository
      uses: actions/checkout@v5

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Log into registry ${{ env.REGISTRY }}
      uses: docker/login-action@v3
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Extract Docker metadata
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: |
          ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
        tags:
          type=raw,value=${{ env.SELECTZYME_VERSION }}
        labels: |
          org.opencontainers.image.url=${{ github.server_url }}/${{ github.repository }}
          org.opencontainers.image.title=selectzyme-app
          org.opencontainers.image.description=SelectZyme Web Application
          org.opencontainers.image.licenses=MIT
          org.opencontainers.image.version=${{ env.SELECTZYME_VERSION }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v6
      with:
        context: .
        # target: final  # if there is a staged building process
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        no-cache: true
