name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    # min hours day(month) month day(week)
    - cron: "0 0 1 */3 *"  # quarterly

permissions:
  contents: read

jobs:
  linting:
    name: Lint with Ruff
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"

      - name: Install Ruff
        run: python -m pip install ruff

      - name: Run Ruff Linting
        run: ruff check --output-format=github  # Ensures GitHub PR annotations    

  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"

    - name: Install and setup uv
      run: |
        python -m pip install uv
        uv venv  # Create a virtual environment at .venv.
        source .venv/bin/activate
        python --version

    - name: Install dependencies
      run: |
        uv pip install pytest pytest-cov
        uv pip install .
        python --version
